.displayGame {
	border: 2px solid var(--color-titrecard);
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(5, 70, 87, 0.943); 
	overflow: hidden;
	width: 300px;
	text-align: center;
	padding: 16px;
	margin: 16px;
	display: inline-block;
	vertical-align: top;
	background: var(--color-displayGame-card);
	}

.displayGame h1 {
	font-size: 1.5em;
	margin: 12px 0;
	color: var(--color-titrecard);
	}

.displayGame .carouselImage {
	width: 100%;
	height: auto;
	border-radius: 4px;
	}

	