@import url("https://fonts.googleapis.com/css2?family=Iceland&family=Wendy+One&display=swap");

#root {
  --color-bg: linear-gradient(rgb(255, 255, 255), rgb(248, 168, 93));
  --color-titrecard: #f887ff;
  --color-inputBar: #f646b3;
  --color-displayGame-card: #011c45;
  --color-carousel-boxS: 0 3px 9px rgb(168, 249, 252);
  --color-box-shadow-card: 0 4px 8px rgba(5, 70, 87, 0.943);
  --color-h1: #f646b5;
  --color-footer: whitesmoke;
  --background-color-footer: #011c45;
  --placeholder-color: rgb(31, 2, 2);
  --color-bg: linear-gradient(rgb(249, 218, 151), rgb(255, 123, 0));
  --color-titrecard: #f646b5;
  --color-genretitle: #00ffff;
  --color-text: greenyellow;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  background: var(--color-bg);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

main {
  width: 100%;
}
